@import "normalize.styl"
gris_oscuro=#333333
gris_claro=#818181

body 
	font-size 16px
figure
	margin 0
p 
	margin .5em 0
.contenido
	display flex
	justify-content space-arounds
	flex-flow row wrap
	padding 1.4em
.canciones
	width 8em
	padding-right 1em
	padding-bottom 1em
.nombre
	color gris_oscuro
.autor
	color gris_claro